*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: crimson;
    color: white;
}

.container{
    width: 50%;
    margin: 20vh auto;
}

#todos ul{
    margin: 1em;
    font-size: 1.4em;
}

#todos ul span{
    padding-left: 1em;
}